

/* Whole website */


body { 
	background-color: snow >
	
	
 }

	h1 { 
		font-family: arial;
		}

	h2 { 
		font-family: arial; 
		}

	h3 { 
		font-family: arial; 
		}
			
	p {
		font-family: arial;
		font-size: 12px;		}

#header {
	text-align:  center;

}

#navigation { 
	text-align: center;
	border: none;
 }

 .navButton { 
	list-style-type: none;
	text-decoration: none;
	display: inline;
  	background-color: LightBlue;
  	padding: 20px;
  	color: CadetBlue;
  	font-family: arial;
  	font-size: 15px; 
  	text-align: center;

  }

div {
	align-self: center;
    width: 80%;
    border: 1px solid black;
    margin: 0px; 
    padding:10px;
}

.spacer { 
	border: none;
	padding: 10px;
 }

hr { 
	width: 100%;
	align-self: : center;
	line-height: 10px;
 }

/* Site Header & Title  */

#smallCat { 
	align-self: center;
 }

 #siteTitle {
 	text-align: center; 	
 }

 /* Navigation */

#navigation {
 	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  

 }

/* Feature Section */

#slayerTitle {
	background-color: CadetBlue;
	border: 1px solid black;
	border-bottom: none;
	padding-bottom: none;
}

#slayerParagrah {
	background-color: LightBlue;
	border: 1px solid black;
}

#bigCat { 

	float: right;
	overflow: auto;
	margin:10px;


 }

/* General Section */

div.genContent { 

 }

 div.genContentHeader { 
 	border:none;
 	margin: none;
 	background-color: LightGray;
 	color: gray;

  }

  #footer { 
  text-align: center;
   }